.aboutMeContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 80vh;
  margin-top: 50px;
  padding: 0 5rem;
  gap: 2rem; /* space between sections */
}

.aboutMeSection, .rightSection {
  flex: 1 1 0; /* grow and shrink equally, basis 0 */
 
  padding: 1rem;
  min-width: 0; /* important to allow shrinking and text wrap */
}
.aboutMeSection {
  color: #EAEAEA;
}

.rightSection {
   color: #403452;
}

.aboutMeTitle {
     font-weight: 750;
    font-size: 72px
}
.rightSectionTitle{
     font-weight: 750;
    font-size: 72px
        
}
.aboutMeText {
    font-size: 36px
}

.skill-container {
  display: flex;
  justify-content: center; 
  align-items: center;     
  gap: 5rem;               
  flex-wrap: wrap;
  border: 2px solid black;   
  border-radius: 12px;      
  padding: 1rem;            
}
.containerTitle {
    font-size: 32px;
    font-weight: 700;
}
.logo-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40px;
}

.logoImage {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.logo-label {
  margin-top: 0.5rem;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}